[user]
  email = dev.nath.cs@gmail.com
  name = Dev Nath

[diff]
  tool = meld
[difftool]
	prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false

[merge]
  tool = meld
[mergetool "meld"]
  ## Choose one of the 2 options below.
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
  # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[alias]
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%X(reset)%n        %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  meld = difftool --tool=meld --dir-diff

[push]
  default = simple

[filter "strip-notebook-output"]
  clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR"
[filter "nbstripout"]
	clean = "python3 -m nbstripout"
	smudge = cat
	required = true
[diff "ipynb"]
	textconv = "python3 -m nbstripout -t"
